﻿body, html, #content, canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}
